<div class="panel panel-box">
<%= gravatar_for user %>
<%= link_to user.name, user %>
<%= link_to user.username_handle, user, class: "handle" %>
(<%= pluralize(user.microposts.count, "post") %>)
<section class="stats">
  <%= render 'shared/stats', user: user %>
</section>
</div>
