<li id="micropost-<%= micropost.id %>" class="panel panel-default micropost">
  <div class="panel-body">
    <%= link_to gravatar_for(micropost.user, 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="handle"><%= link_to "@"+micropost.user.username, micropost.user, class: "handle" %></span>
    <span class="content">
      <%= micropost.content.gsub("\n","<br>").html_safe %>
      <%= image_tag micropost.picture.url if micropost.picture? %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
  </div>
</li>
